<footer class="footer">
  <div class="footer-logo">
    <%= image_tag 'logo', alt: 'Logo', style: 'max-width: 70px;' %>
  </div>
  <div class="contact-info">
    <p>&copy; <%= Time.now.year %> BudgetBed. Tous droits réservés.</p>
  </div>
</footer>
